div.error-container {
    position: absolute;
    right: 3em;
    top: 3em;
}

/* ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.row.door-buttons .btn {
    white-space: normal;
}

.row.door-buttons {
    margin-bottom: 15px;
}
