div.error-container {
    position: absolute;
    right: 3em;
    top: 3em;
    width: 25em;
}

.entity-info {
    font-style: italic;
    font-size: smaller;
}

/* ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.row.door-buttons .btn {
    white-space: normal;
}

.row.door-buttons {
    margin-bottom: 15px;
}


/* Avatar on navbar */
.header-avatar {
    webkit-border-radius: 50%;
    border-radius: 50%;
    padding-right: 2px;
}

.navbar-collapse > ul > li > a.dropdown-toggle {
    padding-top: 11px;
    padding-bottom: 0px;
}


/* Public profile */
.user-detail-header {
    margin-bottom: 50px;
}

.user-detail-header img {
    border-radius: 50%;
    margin-right: 20px;
}

.user-detail-header div {
    display: inline-block;
    vertical-align: middle
}

.user-detail-header h2 {
    margin-top: 0;
}

.user-detail-contact-info {
    margin-bottom: 40px;
}

.user-detail-contact-info .form-group {
    margin-bottom: 0;
}