{% extends 'base.html' %}
{% block content %}
  <body>
  <div class="container">

    <h2>Set new password</h2>

    <div class="row">
      <form class="form-horizontal" action='{{ url_for('core.set_new_password') }}' method='POST'>
        <div class="form-group">
          <label for="username" class="col-sm-2">
            Username
          </label>
          <div class="col-sm-4">
            {{ account.username }}
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="col-sm-2">
            Password
          </label>
          <div class="col-sm-4">
            <input class="form-control" type='password' name='password' id='password' placeholder='Password'/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <input type="hidden" name="reset_token" value="{{ reset_token }}"/>
            <button class="btn btn-default" type='submit' name='submit'>Set new password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </body>
{% endblock %}
