# Run 'p2k16-update-requirements' to update this file based on your currently installed set.
#
# This is the specific set of dependencies that is used when installing the application.
# The Ansible setup will install this set.
#
# To update/change dependencies, either update them manually with pip or just rm -rf env/ and run p2k16-run-web again.

attrs==20.2.0
bcrypt==3.1.7 # 3.2.0 is not available for python@3.5
blinker==1.4
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
cssutils==1.0.2
emails==0.6
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Bower==1.3.0
Flask-Env==2.0.0
Flask-Inputs==0.3.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
Flask-Testing==0.8.0
future==0.18.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
ldif3==3.2.2
lxml==4.5.2
MarkupSafe==1.1.1
nose==1.3.7
paho-mqtt==1.5.1
premailer==3.7.0
psycopg2-binary==2.8.6
pycparser==2.20
pyrsistent==0.17.3
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.20
SQLAlchemy-Continuum==1.3.11
SQLAlchemy-Utils==0.36.8
stripe==2.55.1
typing==3.7.4.3
urllib3==1.26.5
Werkzeug==1.0.1
WTForms==2.3.3
