div.error-container {
    position: absolute;
    right: 3em;
    top: 3em;
}

/* ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.door-buttons .btn {
    width: 100%;
}
