<html>
<head>
  <script src="{{ url_for('static', filename='bower_components/lodash/dist/lodash.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
  <script src="{{ url_for('static', filename='p2k16/p2k16.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='p2k16/p2k16.css') }}"/>
  <script>
    var p2k16 = {};
    {% if user and current_user.is_authenticated %}
      p2k16.user = {{ user|tojson|safe }};
    {% endif %}
  </script>

</head>
{% block content %}{% endblock %}
</html>
