<p2k16-header active="admin"></p2k16-header>

<div class="container">
  <h1>{{ ctrl.account.account.username }}</h1>

  <h2>Details</h2>
  <table class="table">
    <tbody>
    <tr>
      <th class="col-xs-4">username</th>
      <td class="col-xs-8">{{ ctrl.account.account.username }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ ctrl.account.account.name }}</td>
    </tr>
    <tr>
      <th>email</th>
      <td><a href="mailto:{{ ctrl.account.email }}">{{ ctrl.account.account.email }}</a></td>
    </tr>
    <tr>
      <th>Phone number</th>
      <td><a href="tlf:{{ ctrl.account.phone }}">{{ ctrl.account.account.phone }}</a></td>
    </tr>
    <tr>
      <th>Membership fee</th>
      <td>{{ ctrl.account.account.membership.fee }}</td>
    </tr>
    <tr>
      <th>Circles</th>
      <td>
        <p ng-repeat="c in ctrl.circles|orderBy:'name'">
          <a href="#!admin/circle/{{ c.id }}">{{ c.name }}</a>
        </p>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Membership periods</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Amount</th>
              <th>Paid</th>
            </tr>
            <tr ng-repeat="pay in ctrl.account.membership.payments | orderBy: '-start_date'">
              <td>{{ pay.start_date | date:'yyyy-MM-dd' }}</td>
              <td>{{ pay.end_date | date:'yyyy-MM-dd' }}</td>
              <td>{{ pay.amount }}</td>
              <td>{{ pay.payment_date | date:'yyyy-MM-dd' }}</td>
            </tr>
          </table>

        </div>
      </div>
    </div>

</div>
