<p2k16-header active="admin"></p2k16-header>

<div class="container">
  <h1>
    {{ ctrl.title }}
    <small>
      <a href="#!admin/tool">All tools</a>
    </small>
  </h1>

  <div class="form-horizontal" ng-form="ctrl.form">
    <div class="form-group">
      <label for="name" class="col-sm-2">
        Name
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="name" id="name" placeholder="name"
               ng-model="ctrl.tool.name"/>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-2">
        Name
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="description" id="description" placeholder="Description"
               ng-model="ctrl.tool.description"/>
      </div>
    </div>
    <div class="form-group">
      <label for="circle" class="col-sm-2">
        Circle
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="circle" id="circle" placeholder="Circle name"
               ng-model="ctrl.tool.circle"/>
      </div>
    </div>
    <div class="form-group" ng-if="ctrl.tool.id">
      <label for="disabled" class="col-sm-2">
        Disabled
      </label>
      <div class="col-sm-10">
        <input type="checkbox" name="disabled" id="disabled"
               ng-model="ctrl.tool.disabled"/>
        <span ng-if="ctrl.tool.disabled" class="label label-warning">Disabled</span>
        <span ng-if="!ctrl.tool.disabled" class="label label-success">Active</span>
        <span class="help-block">Check to disable this tool</span>
        <p ng-if="ctrl.tool.updatedBy" class="text-muted">
          Last updated by {{ ctrl.tool.updatedBy }} at {{ ctrl.tool.updatedAt | date:'short' }}
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 text-right">
        <button class="btn btn-success" ng-click="ctrl.save()">
          {{ (ctrl.tool.id ? 'Update' : 'Create') }}
        </button>
      </div>
    </div>
  </div>
</div>
