<p2k16-header active="admin"></p2k16-header>

<div class="container">
  <h1>Admin</h1>

  <h3 id="#companies">All Companies</h3>
  <div class="row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-success" ng-click="ctrl.newCompany($event)">Create new company</button>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th class="col-sm-3">Last updated</th>
      <th class="col-sm-4">Name</th>
      <th class="col-sm-4">Contact</th>
      <th class="col-sm-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in ctrl.companies">
      <td>{{ c.updatedAt | date }}</td>
      <td>
        {{ c.name }}
        <span title="Inactive" class="glyphicon glyphicon-ban-circle" ng-if="!c.active"></span>
      </td>
      <td>
        <a href="#!/admin/account/{{ c.contact }}">account details</a>
      </td>
      <td>
        <a href="#!/admin/company/{{ c.id }}">show</a>
      </td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>

  <h3 id="#accounts">All accounts</h3>

  <table class="table">
    <thead>
    <tr>
      <th class="col-sm-3">Last updated</th>
      <th class="col-sm-8">username</th>
      <th class="col-sm-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="account in ctrl.accounts">
      <td>{{ account.updatedAt | date }}</td>
      <td>{{ account.username }}</td>
      <td>
        <a href="#!/admin/account/{{ account.id }}">show</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
