<p2k16-header active="admin"></p2k16-header>

<div class="container">
  <h1>{{ ctrl.circleName }}
    <small><a href="#!/admin/circle">all circles</a></small>
  </h1>
  <p2k16-entity-info entity="ctrl.circle"></p2k16-entity-info>

  <form class="form-horizontal" ng-if="!ctrl.circle.id">
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="name" id="name" placeholder="name"
               ng-model="ctrl.addCircleForm.name"/>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-4">
        <textarea id="description" class="form-control" rows="3" ng-model="ctrl.addCircleForm.description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <div class="checkbox">
          <label for="comment-required-for-membership">
            <input type="checkbox" id="comment-required-for-membership"
                   ng-model="ctrl.addCircleForm.commentRequiredForMembership">
            Comment required for memberships
          </label>
          <span class="help-block">
            This is used for certification circles. For certification circles the comment is when and who gave the
            certification.
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Management style</label>
      <div class="col-sm-4">
        <label class="radio-inline">
          <input type="radio" name="management-style" id="ADMIN_CIRCLE" value="ADMIN_CIRCLE"
                 ng-model="ctrl.addCircleForm.managementStyle">
          Admin circle
        </label>
        <label class="radio-inline">
          <input type="radio" name="management-style" id="SELF_ADMIN" value="SELF_ADMIN"
                 ng-model="ctrl.addCircleForm.managementStyle" ng-click="ctrl.selfAdminSelected()">
          Self admin
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="admin-circle" class="col-sm-3 control-label">Admin circle</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="admin-circle" placeholder="Admin circle"
               ng-model="ctrl.addCircleForm.adminCircle"
               ng-disabled="ctrl.addCircleForm.managementStyle != 'ADMIN_CIRCLE'"/>
        <span class="help-block">
          Members in this circle will control the created circle.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="col-sm-3 control-label">Initial member</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="username" placeholder="Username"
               ng-model="ctrl.addCircleForm.username" ng-disabled="ctrl.addCircleForm.managementStyle != 'SELF_ADMIN'"/>
        <span class="help-block">
          This member will be the one that controls the circle.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="comment" class="col-sm-3 control-label">Membership comment</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="comment" placeholder="Comment"
               ng-model="ctrl.addCircleForm.comment"
               ng-disabled="ctrl.addCircleForm.managementStyle != 'SELF_ADMIN' || !ctrl.addCircleForm.commentRequiredForMembership"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <button class="btn btn-default" ng-click="ctrl.createCircle()">Create</button>
      </div>
    </div>
  </form>

  <table class="table" ng-if="ctrl.circle.id">
    <tbody>
    <tr>
      <th class="col-sm-4">Comment required</th>
      <td class="col-sm-8">{{ ctrl.circle.commentRequiredForMembership | yesno }}</td>
    </tr>
    <tr>
      <th class="col-sm-4">Management style</th>
      <td class="col-sm-8">{{ ctrl.circle.managementStyle }}</td>
    </tr>
    <tr>
      <th class="col-sm-4">Can I manage this circle?</th>
      <td class="col-sm-8">{{ p2k16.canAdminCircle(ctrl.circle.id) | yesno }}</td>
    </tr>
    <tr ng-show="ctrl.circle.managementStyle == 'ADMIN_CIRCLE'">
      <th>Admin circle</th>
      <td><a ng-href="#!admin/circle/{{ ctrl.adminCircle.id }}">{{ ctrl.adminCircle.name }}</a></td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ ctrl.circle.description }}</td>
    </tr>
    </tbody>
  </table>

  <section ng-if="p2k16.canAdminCircle(ctrl.circle.id)">

    <button class="btn btn-danger" ng-click="ctrl.removeCircle(ctrl.circle)">Remove circle</button>

    <h2>Add member</h2>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="username" class="col-sm-3">Username</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="email" id="username" placeholder="username"
                 autocomplete="username" autocapitalize="off"
                 ng-model="ctrl.addMemberForm.username"/>
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="col-sm-3">Comment</label>
        <div class="col-sm-4">
          <textarea class="form-control" rows="3" name="comment" id="comment" placeholder="comment"
                    ng-model="ctrl.addMemberForm.comment"></textarea>
          <p ng-if="ctrl.circle.commentRequiredForMembership">This circle requires a comment on memberships.</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button class="btn btn-default" ng-click="ctrl.addMember()">Add</button>
        </div>
      </div>
    </form>
  </section>

  <section ng-if="ctrl.circle.id">
    <h2>Members
      <small>{{ ctrl.members.length }}</small>
    </h2>
    <table class="table">
      <thead>
      <tr>
        <th class="col-sm-2">User</th>
        <th class="col-sm-3">Created</th>
        <th class="col-sm-3">Updated</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat-start="m in ctrl.members | orderBy:'account_username'">
        <td><a href="#!/admin/account/{{ m.account_id }}">{{ m.account_username }}</a></td>
        <td>{{ m.createdAt | date:'medium' }}</td>
        <td>{{ m.updatedAt | date:'medium' }}</td>
        <td>
          <a ng-click="ctrl.removeMember(m.account_id)">remove</a>
        </td>
      </tr>
      <tr ng-repeat-end ng-if="m.comment">
        <td></td>
        <td colspan="3">{{ m.comment }}</td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </section>

</div>


<script type="text/ng-template" id="admin-circle-detail/remove-circle-modal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Remove circle</h3>
  </div>

  <div class="modal-body" id="modal-body">
    Are you sure you want to remove this circle?
    <button class="btn btn-danger" type="button" ng-click="ctrl.ok()">Yes</button>

    <p>
      No, wait I want to <a ng-click="ctrl.cancel()">ABORT!!11</a>.
    </p>
  </div>
</script>
