<p2k16-header active="admin"></p2k16-header>

<div class="container">
  <h1>{{ ctrl.account.username }}</h1>

  <h2>Details</h2>
  <table class="table">
    <tbody>
    <tr>
      <th class="col-xs-4">username</th>
      <td class="col-xs-8">{{ ctrl.account.username }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ ctrl.account.name }}</td>
    </tr>
    <tr>
      <th>email</th>
      <td><a href="mailto:{{ ctrl.account.email }}">{{ ctrl.account.email }}</a></td>
    </tr>
    <tr>
      <th>Phone number</th>
      <td><a href="tlf:{{ ctrl.account.phone }}">{{ ctrl.account.phone }}</a></td>
    </tr>
    </tbody>
  </table>

  <h2>Circles</h2>

  <table class="table">
    <tbody>
    <tr ng-repeat="c in ctrl.circles">
      <td class="col-xs-4">
        <a href="#!admin/circle/{{ c.id }}">{{ c.name }}</a>
      </td>
      <td class="col-xs-8">
        <a ng-if="ctrl.in_circle(c)" ng-click="ctrl.membership(c, false)">remove membership</a>
        <a ng-if="!ctrl.in_circle(c)" ng-click="ctrl.membership(c, true)">create membership</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
