<p2k16-header active="admin"></p2k16-header>

<div class="container">
  <h1>
    {{ ctrl.title }}
    <small>
      <a href="#!admin/company">All companies</a>
    </small>
  </h1>

  <div class="form-horizontal" ng-form="ctrl.form">
    <div class="form-group">
      <label for="name" class="col-sm-2">
        Name
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="email" id="name" placeholder="name"
               ng-model="ctrl.company.name"/>
      </div>
    </div>
    <div class="form-group">
      <label for="contact" class="col-sm-2">
        Contact
      </label>
      <div class="col-sm-10">
        <select class="form-control" id="contact" ng-model="ctrl.company.contact"
                ng-options="p.account.id as (p.account.username + ' (' + p.account.name + ')') for p in ctrl.profiles | orderBy:'account.username'"></select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="ctrl.company.active"> Active
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12 text-right">
        <button class="btn btn-success" ng-click="ctrl.save()">
          {{ (ctrl.company.id ? 'Update' : 'Create') }}
        </button>
      </div>
    </div>
  </div>

  <section ng-if="ctrl.company.id">
    <h2>
      Employees
      <small>#{{ ctrl.company.employees.length }}</small>
    </h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-sm-3">Added</th>
        <th>username</th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-if="!ctrl.company.employees.length">
      <tr>
        <td colspan="2">No employees registered</td>
      </tr>
      </tbody>
      <tbody>
      <tr ng-repeat="e in ctrl.company.employees">
        <td>{{ e.createdAt | date:'medium' }}</td>
        <td>
          <a href="#!/admin/account/{{ e.account_id }}">{{ e.account.username }}</a>
        </td>
        <td>
          <a ng-click="ctrl.removeEmployee($event, e)">remove</a>
        </td>
      </tr>
      </tbody>
    </table>

    <h3>Add employee</h3>
    <div class="form">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Search" ng-model="ctrl.query">
      </div>
    </div>

    <table class="table">
      <tbody ng-if="ctrl.query">
        <tr ng-repeat="p in ctrl.profiles | filter:ctrl.existingEmployeeFilter | filter:{account: { username: ctrl.query } } | orderBy:'account.username' | limitTo:20">
        <td>{{ p.account.username }}</td>
        <td>{{ p.account.name }}</td>
        <td>
          <a ng-click="ctrl.addEmployee($event, p)">add</a>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

</div>
