<p2k16-header active="badges"></p2k16-header>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2>Recently issued badges</h2>
      <ul>
        <li ng-repeat="b in ctrl.recentBadges" ng-init="bd = ctrl.badgeDescriptions[b.description_id]">
          <span class="label label-success">{{ bd.title }}</span> was awarded to
          <a ng-href="#!/user/{{ b.account_id }}">{{ b.account_username }}</a><span
             ng-if="b.awarded_by_id != b.account_id">, awarded by {{ b.awarded_by_username }}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Badges</h2>
      <ul>
        <li ng-repeat="bd in ctrl.badgeDescriptions">
          <span class="label label-success">{{ bd.title }}</span>
          <span ng-if="bd.description">{{ bd.description }}</span>
          <!--<span ng-if="!bd.description">Boo, missing description :'(</span>-->
        </li>
      </ul>
    </div>
  </div>

  <h2>Award a badge</h2>

  <form class="form-horizontal">
    <div class="form-group">
      <label for="title" class="col-sm-2">Badge</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="title" ng-model="ctrl.newBadge.title">
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-sm-2">Recipient</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="title" ng-model="ctrl.newBadge.recipient">
      </div>
      <div class="col-sm-6">
        Leave blank to assign to yourself.
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-default" ng-click="ctrl.createBadge()">Add badge</button>
      </div>
    </div>
  </form>

  <div class="bs-callout bs-callout-info">
    <p>
      You can give yourself almost any badge you want. Take those that you feel that you're entitled to.
    </p>

    <p>
      Some badges are reserved and has to assigned by someone else.
    </p>
  </div>

</div>
