<p2k16-header active="doors"></p2k16-header>

<div class="container">
  <h1>Doors</h1>

  <p class="door-buttons">
    <button class="btn btn-default" ng-click="ctrl.openDoor('front-and-lab')">Frontdoor and lab</button>
  </p>
  <p class="door-buttons">
    <button class="btn btn-default" ng-click="ctrl.openDoor('3rd-floor')">
      3rd floor
    </button>
  </p>
  <p class="door-buttons">
    <button class="btn btn-default" ng-click="ctrl.openDoor('4th-floor')">
      4th floor
    </button>
  </p>
</div>
