<p2k16-header active="front-page"></p2k16-header>

<div class="container">
  <h2>Open a door</h2>

  <div class="row door-buttons">
    <div class="col-xs-6">
      <button class="btn btn-default btn-block" ng-click="ctrl.openDoors(['frontdoor'])">Frontdoor only</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-default btn-block" ng-click="ctrl.openDoors(['frontdoor', '2floor'])">
        Frontdoor and lab / 2nd floor
      </button>
    </div>
  </div>
  <div class="row door-buttons">
    <div class="col-xs-12">
      <button class="btn btn-default btn-block" ng-click="ctrl.openDoors(['3floor'])">3rd floor</button>
    </div>
  </div>
  <div class="row door-buttons">
    <div class="col-xs-12">
      <button class="btn btn-default btn-block" ng-click="ctrl.openDoors(['4floor'])">4th floor</button>
    </div>
  </div>

  <h3>Recent checkins</h3>

  <ul>
    <li ng-repeat="c in ctrl.recent_events">
      {{ c.timestamp | date:'shortTime' }}: {{ c.created_by_username }}
    </li>
  </ul>

</div>
