<p2k16-header active="front-page"></p2k16-header>

<div class="container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <section ng-if="!ctrl.employed && !ctrl.payingMember && !ctrl.pendingPayment">
      <h2 class="text-center">Pick membership type</h2>
      <br>
        <div class="row text-center align-items-end">
          <div ng-repeat="tier in ctrl.membership_tiers" class="col-lg-6 mb-5 mb-lg-0">
            <div class="panel panel-info p-5 rounded-lg shadow panel-clickable" ng-click="ctrl.signup(tier)">
              <br>
              <h5 class="text-uppercase font-weight-bold mb-4 text-primary"> {{ tier.name | uppercase }} </h5>
              <h2 class="h1 font-weight-bold text-primary"> {{ tier.price }} kr</h2>
              <h4 class="text-small font-weight-normal ml-2 text-primary">monthly</h4>
              <br>
              <div class="my-4 mx-auto primary"></div>

              <ul class="my-5 text-small text-left">
                <li ng-repeat="feature in tier.features" class="mb-3">
                  <i class="mr-2 text-primary"></i> {{ feature }} </li>
                </li>

                <p></p>
                <b>Bitraf is funded by its members!</b>
              </ul>
              <br>
              <button ng-click="ctrl.signup(tier)" class="btn btn-primary btn-block p-2 shadow rounded-pill">Proceed to payment</button>
            </div>
          </div>
        </div>
  </section>

  <section ng-if="!ctrl.employed && ctrl.pendingPayment">
      <h2 class="text-center">Missing payment</h2>
      <br>
    <div class="panel panel-danger">
      <div class="panel-heading text-center">
        <h4 class="panel-title">Your membership is active, but we are missing a payment</h4>
      </div>
      <div class="panel-body text-center">
        <a class="btn btn-primary" ng-click="ctrl.retryPayment()">Retry payment</a>
        <a class="btn btn-primary" ng-click="ctrl.manageBilling()">Manage you membership</a>
      </div>
    </div>
  </section>

  <section ng-if="!ctrl.doorsAvailable">
    <br>
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h4 class="panel-title">Bitraf is open 24/7</h4>
      </div>
      <div class="panel-body text-center">
        <a class="btn btn-primary" href="https://bitraf.no/apne-doren/">Learn how to get door access</a>
      </div>
    </div>
  </section>


  <section ng-if="ctrl.doorsAvailable">
    <h2 class="text-center">Open a door</h2>
    <form class="form-horizontal">
      <div class="row">
          <div class="door-buttons-flex">
            <button class="btn btn-primary"
                    ng-repeat="door in ctrl.availableDoors | orderBy: name"
                    ng-click="ctrl.openDoors([door.key])">{{door.name}}</button>
          </div>
      </div>
    </form>
  </section>

  <div class="col-sm-12"><hr></div>

  <section ng-if="ctrl.recent_events.length > 0">
    <h3>Recent events</h3>
    <ul class="no-padding">
      <li ng-repeat="e in ctrl.recent_events">
        <span ng-switch="e.domain + '-' + e.name">
          <span ng-switch-when="door-open">
            {{ e.created_at | date:'shortTime' }} - <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a> opened <em style="color: gray;">{{ e.door }}</em>
          </span>
          <span ng-switch-when="badge-awarded">
            <span class="label label-default">{{ e.badge_description.title }}</span> awarded to <a href="#!/user/{{ e.account_badge.account_id }}">{{ e.account_badge.account_username }}</a> <span ng-if="e.account_badge.account_id !== e.created_by">by <em style="color: gray;">{{ e.created_by_username }}</em></span>
          </span>
        </span>
      </li>
    </ul>
  </section>

  <div class="col-sm-12"><hr></div>

</div>
