<p2k16-header active="front-page"></p2k16-header>

<div class="container">
  <section ng-if="!ctrl.employed && !ctrl.payingMember">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Become a paying Bitraf member</h4>
      </div>
      <div class="panel-body">
        <p>You will receive access to open the door 24/7 and access machines at Bitraf.</p>
        <div class="row text-center align-items-end">

          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="panel panel-primary p-5 rounded-lg shadow">
              <h1 class="h6 text-uppercase font-weight-bold mb-4">Normal member</h1>
              <h2 class="h1 font-weight-bold"> 500 kr <span class="text-small font-weight-normal ml-2">/ month</span></h2>

              <div class="my-4 mx-auto primary"></div>

              <!-- Needs CSS! -->
              <ul class="my-5 text-small text-left">
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> Access to Bitraf 24/7 </li>
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> Open all doors and use all tools </li>
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> Join safety courses</li>
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> Personal box for storage</li>
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> Cancel anytime</li>
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> Support Bitraf!</li>
                <p></p>
                <b>Bitraf is funded by its members!</b>

              </ul>
              <button ng-click="ctrl.signup(500)" class="btn btn-primary btn-block p-2 shadow rounded-pill">Sign up</button>
            </div>
          </div>
          <!-- END -->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="panel panel-primary p-5 rounded-lg shadow">
              <h1 class="h6 text-uppercase font-weight-bold mb-4">Supporting member</h1>
              <h2 class="h1 font-weight-bold"> 300 kr <span class="text-small font-weight-normal ml-2">/ month</span></h2>

              <div class="my-4 mx-auto primary"></div>

              <!-- Needs CSS! -->
              <ul class="my-5 text-small text-left">
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> Same access as normal members </li>
                <li class="mb-3">
                  <i class="mr-2 text-primary"></i> For students, unemployed or others who cannot afford a full membership</li>
                <p></p>
                <b>Bitraf is funded by its members!</b>

              </ul>
              <button ng-click="ctrl.signup(300)" class="btn btn-primary btn-block p-2 shadow rounded-pill">Sign up</button>
            </div>
          </div>
          <!-- END -->
        </div>
      </div>
    </div>
  </div>

  <section ng-if="!ctrl.doorsAvailable">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Gain access to Bitraf</h4>
      </div>
      <div class="panel-body">
        <a class="btn btn-primary" href="https://bitraf.no/apne-doren/">Visit this page to learn how to get access</a>
      </div>
    </div>
  </section>

  <section ng-if="ctrl.doorsAvailable">
    <h2>Open a door</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="door-buttons-flex">
          <button class="btn btn-default"
                  ng-repeat="door in ctrl.availableDoors | orderBy: name"
                  ng-click="ctrl.openDoors([door.key])">{{door.name}}</button>
        </div>
      </div>
    </div>

    <section ng-if="ctrl.recent_events.length > 0">
    <h3>Recent events</h3>
    <ul>
      <li ng-repeat="e in ctrl.recent_events">
        <span ng-switch="e.domain + '-' + e.name">
          <span ng-switch-when="door-open">
            <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a>
            opened {{ e.door }} at {{ e.created_at | date:'shortTime' }}
          </span>
          <span ng-switch-when="badge-awarded">
            <a href="#!/user/{{ e.account_badge.account_id }}">{{ e.account_badge.account_username }}</a>
            got the <span class="label label-default">{{ e.badge_description.title }}</span> badge<span ng-if="e.account_badge.account_id !== e.created_by"> awarded by {{ e.created_by_username }}</span>!
          </span>
        </span>
      </li>
    </ul>
    </section>
  </section>
</div>
