<p2k16-header active="membership"></p2k16-header>

<div class="container">
  <h1>My profile</h1>

  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-sm-3 col-lg-2 control-label">Old password</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" name="oldPassword" id="oldPassword"
               ng-model="ctrl.changePasswordForm.oldPassword"/>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-3 col-lg-2 control-label">New password</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" name="newPassword" id="newPassword"
               ng-model="ctrl.changePasswordForm.newPassword"/>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-3 col-lg-2 control-label">New password</label>
      <div class="col-sm-4">
        <button class="btn btn-default" ng-click="ctrl.changePassword()">Change password</button>
      </div>
    </div>
  </form>


  <h3>Edit profile details</h3>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="phone" class="col-sm-3 col-lg-2 control-label">Phone number</label>
      <div class="col-sm-4">
        <input class="form-control"
               type="text"
               name="phone"
               id="phone"
               placeholder="Phone #"
               ng-model="ctrl.profileForm.phone"
               autocomplete="phone" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-3 col-lg-offset-2">
        <button class="btn btn-default" ng-click="ctrl.saveProfile()">Save profile</button>
      </div>
    </div>
  </form>

  <h1>Badges</h1>

  <ul ng-show="ctrl.badges.length" class="list-inline">
    <li ng-repeat="b in ctrl.badges" ng-init="bd=ctrl.descriptions[b.description_id]">
      <span class="label label-default">{{ bd.title }}</span>
    </li>
  </ul>
  <p ng-hide="ctrl.badges.length">
      Aaw, you don't have any badges yet.
  </p>

  <h1>Circles</h1>
  <ul ng-if="ctrl.circles.length" class="list-inline">
      <li ng-repeat="c in ctrl.circles">
          <a href="#!/admin/circle/{{c.id}}"><span class="label label-default" >{{ c.name }}</span></a>
      </li>
  </ul>

  <h1>Box label</h1>
  <div class="row">
    <div class="col-xs-12">
        <p>Boxes in the member storage area are for paying members only, and they
        should all have a label with a QR code and basic contact information. Press
        here to have a label printed near Bitmart on the second floor, and stick it
        on your box today</p>
        <button class="btn btn-default" ng-click="ctrl.printBoxLabel()">Print box label</button>
    </div>
  </div>

  <h1>Account keys</h1>
  <div class="list-group">
    <div class="list-group-item" ng-repeat="key in ctrl.accountKeys">
      <h4 class="list-group-item-header clearfix">
        <button class="btn btn-danger btn-sm pull-right" ng-click="ctrl.removeAccountKey(key)">
          <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
        <span class="glyphicon" ng-class="{'glyphicon-console': key.key_type == 'SSH', 'glyphicon-cloud': key.key_type == 'WIREGUARD'}"></span>
        <span class="comment">{{key.comment}}</span>
      </h4>
    </div>
  </div>
  <h3>Add key</h3>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="comment" class="col-sm-3 col-lg-2 control-label">Comment</label>
      <div class="col-sm-7">
        <input class="form-control"
               type="text"
               name="comment"
               id="comment"
               placeholder="Key comment"
               ng-model="ctrl.newAccountKeyForm.comment"
               autocomplete="none" />
      </div>
    </div>
    <div class="form-group">
      <label for="keyType" class="col-sm-3 col-lg-2 control-label">Key type</label>
      <div class="col-sm-4">
        <select
          class="form-control"
          name="keyType"
          ng-model="ctrl.newAccountKeyForm.keyType">
          <option value="SSH">SSH</option>
          <option value="WIREGUARD">WireGuard</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="publicKey" class="col-sm-3 col-lg-2 control-label">Public key</label>
      <div class="col-sm-7">
        <textarea
          style="resize: vertical"
          class="form-control"
          name="publicKey"
          id="publicKey"
          ng-model="ctrl.newAccountKeyForm.publicKey"
          rows="7">
        </textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-3 col-lg-offset-2">
        <button class="btn btn-default" ng-click="ctrl.addAccountKey()">Add account key</button>
      </div>
    </div>
  </form>


</div>
