<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">P2k16</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{'front-page': 'active'}[active]"><a href="#">Home</a></li>
      <li ng-class="{'doors': 'active'}[active]"><a href="#!doors">Doors</a></li>
      <li ng-class="{'membership': 'active'}[active]"><a href="#!membership">Membership</a></li>
      <li ng-class="{'tools': 'active'}[active]"><a href="#!tools">Tools</a></li>
      <li ng-if="$root.p2k16.hasRole('admins')"
          ng-class="{'admin': 'active'}[active]"><a href="#!admin">Admin</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li uib-dropdown ng-show="header.currentAccount()">
        <a href uib-dropdown-toggle>
          {{ header.currentAccount().username }}
          <span class="caret"></span>
        </a>
        <ul uib-dropdown-menu>
          <li><a href ng-click="header.logout($event)">Log out</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
