<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">P2k16</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
    <ul class="nav navbar-nav">
      <li ng-class="{'front-page': 'active'}[active]"><a href="#">Home</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li ng-class="{'admin': 'active'}[active]" ng-if="$root.p2k16.hasRole('admin')"><a href="#!admin">Admin</a></li>

      <li uib-dropdown ng-show="header.currentAccount()">
        <a href uib-dropdown-toggle>
          {{ header.currentAccount().username }}
          <span class="caret"></span>
        </a>
        <ul uib-dropdown-menu>
          <li><a href="#!my-profile">My profile</a></li>
          <li><a href="#!membership">Membership</a></li>
          <li role="separator" class="divider"></li>
          <li><a href ng-click="header.logout($event)">Log out</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
