<p2k16-header active="tool"></p2k16-header>

<div class="container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <h2 class="text-center">Check out a tool</h2>
  <br>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h4 class="panel-title">Instructions</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>Click a tool to check it out.</li>
          <li>Always return the tool before you leave.</li>
          <li><strong>IMPORTANT</strong> - No tools should ever leave Bitraf!</li>
          <li><a href="https://bitraf.no/wiki/Tool">Click here</a> to read more about Bitraf's tool system.</li>
        </ul>
      </div>
    </div>
  </div>

  <form class="form-horizontal">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center">Available Tools</h3>
        <div ng-if="ctrl.available_tools.length === 0" class="text-center text-muted">
          No tools available.
        </div>
        <div class="tools-buttons-table">
          <div class="mb-2" ng-repeat="tool in ctrl.available_tools | orderBy:ctrl.descriptionToLowerCase">
            <button type="submit" class="btn btn-block btn-default"
                    ng-click="ctrl.checkoutTool(tool)"
                    id="{{tool.name}}_available">
              <strong>{{tool.description}}</strong>
              <br>
              <small style="color: green">Available</small>
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-12" >
        <h3 class="text-center">My checked out Tools</h3>
        <div ng-if="ctrl.my_tools.length === 0" class="text-center text-muted">
          No tools currently checked out.
        </div>
        <div class="tools-buttons-table">
          <div class="mb-2" ng-repeat="tool in ctrl.my_tools | orderBy:ctrl.descriptionToLowerCase">
            <button type="submit" class="btn btn-block btn-warning"
                    ng-click="ctrl.checkinTool(tool)"
                    id="{{tool.name}}_my">
              <strong>{{tool.description}}</strong>
              <br>
              <small>{{tool.checkout.username}} - {{tool.checkout.started | date:'short'}}</small>
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <h3 class="text-center">Tools checked out by others</h3>
        <div ng-if="ctrl.others_tools.length === 0" class="text-center text-muted">
          No tools checked out by others.
        </div>
        <div class="tools-buttons-table">
          <div class="mb-2" ng-repeat="tool in ctrl.others_tools | orderBy:ctrl.descriptionToLowerCase">
            <button type="button" class="btn btn-block btn-danger"
                    ng-click="ctrl.checkoutToolConfirm(tool)"
                    id="{{tool.name}}_others">
              <strong>{{tool.description}}</strong>
              <br>
              <small>{{tool.checkout.username}} - {{tool.checkout.started | date:'short'}}</small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="col-sm-12"><hr></div>

  <section ng-if="ctrl.recent_events.length > 0">
    <h3>Recent events</h3>
    <ul class="no-padding">
      <li ng-repeat="e in ctrl.recent_events">
        <span ng-switch="e.domain + '-' + e.name">
          <span ng-switch-when="tool-checkout">{{ e.created_at | date:'short' }} - <em style="color: red">{{ e.tool_name }}</em> - <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a> checked out
          </span>
          <span ng-switch-when="tool-checkin">{{ e.created_at | date:'short' }} - <em style="color: green">{{ e.tool_name }}</em> - <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a> checked in
          </span>
        </span>
      </li>
    </ul>
  </section>

  <div class="col-sm-12"><hr></div>

</div>
