<p2k16-header active="tool"></p2k16-header>

<div class="container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <h2 class="text-center">Check out a tool</h2>
  <br>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h4 class="panel-title">Instructions</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>Click a tool to check it out.</li>
          <li>Always return the tool before you leave.</li>
          <li><strong>IMPORTANT</strong> - No tools should ever leave Bitraf!</li>
          <li><a href="https://bitraf.no/wiki/Tool">Click here</a> to read more about Bitraf's tool system.</li>
        </ul>
      </div>
    </div>
  </div>

  <form class="form-horizontal">
    <table class="table tools-buttons-table">
      <tr ng-repeat="tool in ctrl.tools">
        <td class="text-center">
          <button ng-if="tool.checkout.active && tool.checkout.account != ctrl.my_account" type="submit" class="btn btn-default btn-block btn-danger disabled" id="{{tool.name}} isMine">
            <span>{{tool.description}}</span>
            <br>
            <small class="text-center">{{tool.checkout.username}} - {{tool.checkout.started | date:'short'}}</small>
          </button>
          <button ng-if="tool.checkout.active && tool.checkout.account == ctrl.my_account" type="submit" class="btn btn-default btn-block btn-danger" ng-click="ctrl.checkinTool(tool)" id="{{tool.name}} notMine">
            <strong>{{tool.description}}</strong>
            <br>
            <small class="text-center">{{tool.checkout.username}} - {{tool.checkout.started | date:'short'}}</small>
          </button>
          <button ng-if="!tool.checkout.active" type="submit" class="btn btn-default btn-block" ng-click="ctrl.checkoutTool(tool)" id="{{tool.name}}">
            <span>{{tool.description}}</span>
            <br>
            <small style="color: green">Available</small>
          </button>
        </td>
      </div>
    </table>
  </form>

  <div class="col-sm-12"><hr></div>

  <section ng-if="ctrl.recent_events.length > 0">
    <h3>Recent events</h3>
    <ul class="no-padding">
      <li ng-repeat="e in ctrl.recent_events">
        <span ng-switch="e.domain + '-' + e.name">
          <span ng-switch-when="tool-checkout">{{ e.created_at | date:'short' }} - <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a> checked out <em style="color: red">{{ e.tool_name }}</em>
          </span>
          <span ng-switch-when="tool-checkin">{{ e.created_at | date:'short' }} - <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a> checked in <em style="color: green">{{ e.tool_name }}</em>
          </span>
        </span>
      </li>
    </ul>
  </section>

  <div class="col-sm-12"><hr></div>

  <!-- ================================================= -->
  <!-- The following block is kept in case of future use -->

  <!-- <section ng-if="ctrl.my_tools.length">
    <h2 class="text-center">Currently checked out by me</h2>
    <p class="text-center">Click a tool to return it</p>
    <form class="form-horizontal">
      <table class="table tools-buttons-table">
        <tr ng-repeat="tool in ctrl.tools" ng-if="tool.checkout.active">
          <td class="text-center">
            <button ng-if="tool.checkout.active && tool.checkout.account == ctrl.my_account" type="submit" class="btn btn-default btn-block btn-danger" ng-click="ctrl.checkinTool(tool)">
              <strong>{{tool.description}}</strong>
              <span ng-if="tool.checkout.active && tool.checkout.account == ctrl.my_account">
                <br>
                <small class="text-center">Checked out since {{tool.checkout.started | date:'short'}}</small>
              </span>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </section> -->
  <!-- ================================================= -->

</div>
