<p2k16-header active="tool"></p2k16-header>

<div class="container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <h2 class="text-center">Check out a tool</h2>
  <br>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h4 class="panel-title">Instructions</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>Click a tool to check it out.</li>
          <li>Always return the tool before you leave.</li>
          <li><strong>IMPORTANT</strong> - No tools should ever leave Bitraf!</li>
          <li><a href="https://bitraf.no/wiki/Tool">Click here</a> to read more about Bitraf's tool system.</li>
        </ul>
      </div>
    </div>
  </div>

  <form class="form-horizontal">
    <table class="table tools-buttons-table">
      <tr ng-repeat="tool in ctrl.tools | orderBy:'description'">
        <td class="text-center">
          <button ng-if="tool.checkout.active && tool.checkout.account != ctrl.my_account" type="submit" class="btn btn-block btn-danger" ng-click="ctrl.checkoutToolConfirm(tool)" id="{{tool.name}}">
            <strong>{{tool.description}}</strong>
            <br>
            <small class="text-center">{{tool.checkout.username}} - {{tool.checkout.started | date:'short'}}</small>
          </button>
          <button ng-if="tool.checkout.active && tool.checkout.account == ctrl.my_account" type="submit" class="btn btn-default btn-block" ng-click="ctrl.checkinTool(tool)" id="{{tool.name}}">
            <strong>{{tool.description}}</strong>
            <br>
            <small class="text-center">{{tool.checkout.username}} - {{tool.checkout.started | date:'short'}}</small>
          </button>
          <button ng-if="!tool.checkout.active" type="submit" class="btn btn-default btn-block" ng-click="ctrl.checkoutTool(tool)" id="{{tool.name}}">
            <span>{{tool.description}}</span>
            <br>
            <small style="color: green">Available</small>
          </button>
        </td>
    </table>
  </form>

  <div class="col-sm-12"><hr></div>

  <section ng-if="ctrl.recent_events.length > 0">
    <h3>Recent events</h3>
    <ul class="no-padding">
      <li ng-repeat="e in ctrl.recent_events">
        <span ng-switch="e.domain + '-' + e.name">
          <span ng-switch-when="tool-checkout">{{ e.created_at | date:'short' }} - <em style="color: red">{{ e.tool_description }}</em> - <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a> checked out
          </span>
          <span ng-switch-when="tool-checkin">{{ e.created_at | date:'short' }} - <em style="color: green">{{ e.tool_description }}</em> - <a href="#!/user/{{ e.created_by }}">{{ e.created_by_username }}</a> checked in
          </span>
        </span>
      </li>
    </ul>
  </section>

  <div class="col-sm-12"><hr></div>

</div>
